body{
    text-align: center;
    background-color: grey;

}
img{
    width: 300px;
    height: 300px;
}
button{
    background-color: cadetblue;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}
#price{
    color:black;
    font-size: 20px;
    font-weight: bold;
}
table{
    border-color: red;
    border-radius:5px ;
    background-color: white;
   
}