h1{
    text-align: center;
}
.block-menu a{
    display:block;
    background-color:rgb(22, 171, 216);
    color: white;
    padding: 10px;
    margin: 5px 0;
    text-decoration: none;
}

.inline-example-menu a{
    display:inline;
    background-color: blue;
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}

.inline-block-menu a{
    display:inline;
    background-color: rgb(109, 104, 121);
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
.float-menu a{
    display:inline;
    background-color:rgb(15, 77, 101);
    color: white;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
}
