*{
    text-align: center;
}
img{
    width: 300px;
    height: 300px;
}
button{
    color:rgb(245, 248, 250);
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
    margin: auto;
}
#price{
    color: red;
    


}


