.outer{display:flex;height:220px;border:1px solid #090808;margin:20px;}
    .col{flex:1;display:flex;flex-direction:column;padding:10px;}
    .col .box{width:80px;background:#63dddb;color:#0b0a0a;margin:5px;padding:10px;border-radius:4px;}
    .col.a{align-items:flex-start;justify-content:center;}
    .col.b{align-items:center;justify-content:center;}
    .col.c{align-items:flex-end;justify-content:center;}
